body {
    text-align: center;
}

/********** MAIN SECTION *********/


#main-section {
    background-image: url("pics/main-section-background.webp");
    background-size: cover;
    height: 100vh;
    padding: 25% 23% 15%;
    color: #2C3333; 
}

.main-heading {
    font-size: 3.5vw; 
}

.main-description {
    line-height: 1.5;
    margin: 5% auto;
    font-weight: 400;
    font-size: 1.75vw;
}

.main-text {
    font-size: 1.2rem;
    line-height: 2;
    margin: 5% 0 2%;
}


#countdown-timer > div {
    padding: 8px;
    border-radius: 3px;
    background-color: #A5C9CA;
    display: inline-block;
}

#countdown-timer div > span {
    padding: 15px;
    border-radius: 3px;
    background-color: #395B64;
    display: inline-block;
    font-size: 1rem;
    color: #E7F6F2;

}


.registration-btn {
    background-color: #2C3333;
    color: #E7F6F2;
    margin: 5%;
    padding: 2% 5%;
    letter-spacing: 0.3rem;
}

.registration-btn:hover {
    box-shadow: 2px 2px 15px black;
}

.registration-btn > a {
    text-decoration: none;
    color: #E7F6F2;

}

/****** REGISTRATION PAGE *********/

.btn-to-home {
    position: absolute;
    top:2rem;
    left: 2rem; 
    padding: 0.5% 1%;
    margin: 0;
}

.registration-input {
    margin-top: 5%;
    font-size: 1rem; 
    padding: 1%;
    width: 350px;
    margin: 1%;
}



/***** NAVBAR *****/

.navbar {
    background-color: yellow;
    height: 100px;
}



/***** MEDIA QUERIES ******/



@media (max-width: 1045px) {
    #main-section {
        color: #E7F6F2; 
        padding: 25% 18% 15%;
    }

    #countdown-timer > div {
        color: #2C3333; 
    }

    .main-heading {
        font-size: 2.5rem; 
    }

    .main-description {
        font-size: 1.15rem;
    }

    .main-text {
        font-size: 1.1rem; 
    }
}

@media (max-width: 680px) {

    #main-section {
        padding: 25% 12% 15%;
    }
}